.slide.greybox.clearfix
  .two-thirds.right
    %h2.h1.gilda.align-right Empires At War
    %p.h3 E@W is an online strategy game that allows you to build cities, recruit armies and conquer your neigbors. Choose from seven empires that dominated history, each with their own specialized troops, strengths and weaknesses.
    %p.h3 Play for free and conquer the known world, but be wary, there is evil on the horizon.
  .one-third.left
    = image_tag 'slides/mongol.png', alt:'mongol warrior'
      
.slide.greybox.clearfix
  .two-thirds.right
    %h2.h1.gilda.align-right Command an Empire
    %p.h3 As the all-powerful commander of your empire it will be up to you to make the decisions that will either make your people the envy of the world or just another subjugated people hoping to survive the current masters of the world.
    %p.h3 Select your empire carefully, each has the ability to dominate or be dominated. Whether you choose the Romans, whose disciplined infantry roll over any other army, the Mongols whose cavalry destroys any who stand in their way or the Gaul with their bands of wild and mistical troops that instill fear into all opposition.
  .one-third.left
    = image_tag 'slides/carthage.png', {alt:'carthage elephant', class: 'wide'}

.slide.greybox.clearfix
  .two-thirds.right
    %h2.h1.gilda.align-right Hold Back the Undead
    %p.h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, quia quos praesentium fugit enim recusandae quam optio ipsam iste autem odit similique inventore perspiciatis illo id minima laborum aut iure.
    %p.h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, quasi, dolores, tempore, reiciendis quis praesentium pariatur ducimus ratione doloribus repudiandae officiis quod veniam eos laboriosam facilis maxime quo nobis ab?
  .one-third.left
    = image_tag 'slides/japan.png', {alt:'japanese samurai'}